{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    Ajouter une catégorie - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container">
    <div class="jumbotron">
        <h1>Composants <small>Catégories</small></h1>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <h2>Ajouter une catégorie</h2>
            <a href="{{ path('hbpc_tools_categories') }}"><button type="button" class="btn btn-primary"> << Retour</button></a>
        </div>
        <div id="content" class="col-md-12">
            {{ include("HBPCToolsBundle:Categorie:form_categorie.html.twig") }}
        </div>
    </div>
</div>
{% endblock %}