{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    Composants - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Ceci est la page d'accueil :)</p>
    </div>
    <div class="row">
        <div id="menu" class="col-md-3">
            {{ include("HBPCToolsBundle:Menus:home.html.twig") }}
        </div>
        <div id="content" class="col-md-9">
            contenu
        </div>
    </div>
</div>
{% endblock %}